.text{
    font-family:'Montserrat', sans-serif ;
    font-size:2rem ;
    font-weight:700 ;
    color: #FFF;
   

    &1{
        font-size:1.17rem ;
        font-weight: 200;
    }
    &2{
        font-size:1.25rem ;
        font-weight:700;
        color:#144fc6;
    }
    &3{
        font-size:0.75rem ;
        font-weight: 100;
        color:#144fc6;
        
    }
    &4{
        font-size:1rem ;
        font-weight:200 ;
    }
    &5{
        font-size:0.8rem ;
        font-weight:100;
        color: #144fc6; 
    }
}