.WaterCupBottle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:1rem;
    padding-top:1rem ;
    padding-bottom:1rem ;

}